/* CSS Document */
*{ margin: 0px; padding: 0px; }*
body { 
    background:#fafafa center top;
    /*color: #e9e9e9;*/
    color: #787878;
    /*font: 12px/150% "微软雅黑","Microsoft YaHei",Arial,Sans-Serif;*/
}
a{
    text-decoration: none;
    color: #787878;
}
body, a, p{
    font:14px "微软雅黑",Georgia,Serif;  
}

#header{
    background: url("../img/header_bg.png") repeat-x scroll 0 0 white;
    height: 108px;
    left: 0;
    margin: auto;
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    z-index: 1;
}
#header div{
    width: 952px;
    margin: 0 auto;
    position: relative;
}
.logo {
    padding-top: 25px;
}
.logo a{
    /*display: block;*/
    float: left;
    width: 214px;
    height: 58px;
    padding: 0!important;
    background: url('../img/logo1.png') 0 0 no-repeat;
    text-indent: -30000px;
}
.lang{
    position: relative;    
    bottom:50px;
    /*left:500px;*/
    right: 0;
    height:0;
}
.lang ul{
    width: 415px;
/*    margin-top: 30px;
    list-style: none;
    height: 38px;*/
    position: relative;
    right: 0;
    top: 28px;
    width: auto;
}
.lang li{
    display: block;
    float: right;
    border-left: 1px solid #959595;
    border-right: 1px solid #959595;
    /*background: url('../img/lan_solid.png') right no-repeat;*/ 
}
.lang li a{
    float: left;
    display: block;
    text-shadow: 0 0 1px #959595;
    padding: 0 45px;
    padding-top: 10px;
    font:12px "微软雅黑",Georgia,Serif;  
}
.lang li.mid{
    border: 0;
}
.lang li.tapon{
    background: url('../img/lan_tap_on_bgx1.png') repeat-x;
}

#navigation{
    border-top:1px solid #959595;
    background: url("../img/nav_bg.png") repeat-x  0 -208px transparent;
    border-bottom: 1px solid #E4E1DA;
    /*border-top: 1px solid #E4E1DA;*/
    /*left: 0;*/
    /*line-height: 32px;*/
    height: 34px;
    /*position: fixed;*/
    /*top: 80px;*/
    width: 100%;
    /*z-index: 999;*/
}
#navigation ul {
    border-left: 1px solid #959595;
    list-style: none outside none;
    margin: 0 auto;
    width: 952px;
}
#navigation li {
    border-left: 1px solid #959595;
    /*border-right: 1px solid #959595;*/
    float: left;
    position: relative;
    text-shadow: 0 0 1px #959595;
    width: 130px;
    height: 34px;
    text-align: center;
}
#navigation li a {
    color: #888888;
    display: block;
    font-size: 100%;
    padding: 0;
    padding-top: 9px;
    text-decoration: none;
    font-weight: bolder;
    font:12px "微软雅黑",Georgia,Serif;
}
#navigation li.current a {
    background-position: 0 -240px;
}
#navigation li a:hover {
    background-position: 0 -272px;
}
#navigation li ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: dotted solid none;
    border-width: 1px 1px medium;
    display: none;
    left: 0;
    position: absolute;
    top: 32px;
    width: 132px !important;
    z-index: 999;
}
#navigation li:hover ul {
    display: block;
}
#navigation li ul li {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    float: none;
}
#navigation li ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: none;
}
#navigation li ul li a:hover {
    background-color: #EFF9E3;
    text-decoration: underline;
}